$body-font-family: Ubuntu;
$validate-btn-background: #6C9243;
$invalidate-btn-background: #8d4242;
$validate-btn-text-color: #ECEAEA;
$invalid-select-background: rgba(141, 66, 66, 0.13);
$valid-select-background: rgba(108, 146, 67, 0.13);
